.profileImg {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.about-div {
    width: 100%;
    margin: 50px auto;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    overflow: scroll;
}

.bio {
    color:whitesmoke;
    margin-bottom: 20px;
}

.name {
    color:white;
}

.contact {
    text-align: center;
}

.contact a {
    text-decoration: none !important;
    margin: 5px;
    padding: 5px;
    background-color: #333333;
    color:white;
    border-radius: 5px;
}

.contact a:hover {
    background-color: whitesmoke;
    color:black;
}